<template>
  <transition name="fade-id">
    <div class="menu-user-drop">
      <div class="header">
        <span class="avatar"></span>
        <span class="description">
          <h4 class="name">{{ user.name }}</h4>
          <span class="profile" @click="user.handler">Visualizar perfil</span>
        </span>
      </div>

      <ul class="main-options">
        <li
          v-for="(item, i) in items"
          :key="i"
          @click.stop="handler(item)"
          @mouseenter="addHoverLi"
          @mouseleave="removeHoverLi"
        >
          <span class="icon">
            <Icon :name="item.icon" />
          </span>
          {{ item.label }}
          <span v-if="item.subitems && item.subitems.length" class="more">
            <Icon name="angle-right"
          /></span>
        </li>
      </ul>

      <div class="sub-options" :class="{ show: sub.show }">
        <span class="title">
          <span class="back" @click.stop="sub.show = false"
            ><Icon name="angle-left"
          /></span>
          {{ sub.label }}
        </span>
        <ul>
          <li
            v-for="(item, i) in sub.subitems"
            :key="i"
            @click.stop="handler(item)"
            @mouseenter="addHoverLi"
            @mouseleave="removeHoverLi"
          >
            <span class="icon">
              <Icon :name="item.icon" />
            </span>
            {{ item.label }}
          </li>
        </ul>
      </div>

      <div class="footer">
        <p>S-Folha | Versão 1.0</p>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      required: true
    },

    user: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      sub: {}
    }
  },

  methods: {
    handler({ handler, subitems, label }) {
      if (subitems && subitems.length) {
        this.sub = { label, subitems, show: true }
      } else if (handler && typeof handler === 'function') {
        handler()
      }
    },

    addHoverLi({ target }) {
      target.style.color = this.provider().getMainColor
    },

    removeHoverLi({ target }) {
      target.style.color = ''
    }
  },

  inject: {
    provider: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style scoped lang="scss">
@import '~@/scss/transitions/fade';

.menu-user-drop {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  top: 100%;
  right: 0;
  width: $menuuser-drop-width;
  height: $menuuser-drop-height;
  padding: $padding 0;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: $shadow-regular;
  overflow: hidden;
  z-index: 102;

  .header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    /* height: $menuuser-drop-header-height; */
    padding: $padding-large;
    padding-top: 0;

    .avatar {
      display: flex;
      width: $menuuser-avatar-width;
      height: $menuuser-avatar-height;
      border-radius: 50%;
      overflow: hidden;
      background-color: #ccc;
    }

    .description {
      display: block;
      margin-left: $margin;
      .name {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 400;
      }

      .profile {
        font-size: 0.8rem;
        cursor: pointer;
      }
    }

    &::before {
      position: absolute;
      content: '';
      display: inline-block;
      background-color: rgba(#c4c4c4, 0.3);
      height: 1px;
      bottom: $margin-small;
      left: 45px;
      right: 45px;
    }
  }

  // Troca de opções
  .main-options,
  .sub-options > ul {
    list-style: none;
    user-select: none;

    li {
      position: relative;
      display: flex;
      align-items: center;
      padding: $padding-small $padding;
      background-color: #fff;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin-right: $margin-small;
        border-radius: 50%;
        background-color: rgba(#c4c4c4, 0.3);
        font-size: 16pt;
        > svg {
          margin: auto;
        }
      }

      .more {
        position: absolute;
        display: flex;
        align-items: center;
        width: 20px;
        height: 100%;
        right: $margin-small;
        background-color: #fff;
      }

      /* &:hover {
        color: $siasp-blue;
      } */
    }
  }

  .sub-options {
    position: absolute;
    width: 100%;
    height: calc(100% - 30px - #{$padding * 2});
    left: 100%;
    background-color: #fff;
    transition: all 0.3s linear;
    user-select: none;

    .title {
      display: flex;
      align-items: center;
      padding: $padding;
      padding-top: 0;
      font-size: 1.1rem;

      .back {
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }

    &.show {
      left: 0;
    }
  }

  .footer {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 30px;
    margin-top: auto;
    padding: 0 $padding;
    font-size: 0.8rem;
    user-select: none;
    &::before {
      position: absolute;
      content: '';
      display: inline-block;
      background-color: rgba(#c4c4c4, 0.3);
      height: 1px;
      top: 0;
      left: 45px;
      right: 45px;
    }
  }
}
</style>
