<template>
  <FormBasic>
    <!-- <pre>
      {{ entity.salario }}
    </pre> -->

    <t-col size="2" bp="md">
      <Avatar v-model="entity.photo" :disabled="disabled" />
    </t-col>

    <t-col size="10" bp="md">
      <t-row>
        <t-labeled label="Nome" size="6" bp="md">
          <TInput v-model="entity.name" :disabled="disabled" :state="false"/>
        </t-labeled>

        <t-labeled label="Sobrenome" size="6" bp="md">
          <TInput v-model="entity.lastname" :disabled="disabled" />
        </t-labeled>

        <t-labeled label="CPF" size="6" bp="md">
          <t-input
            v-model="entity.marcara"
            :disabled="disabled"
            mask="###.###.###-##"
          />
        </t-labeled>

        <t-labeled label="Nome" size="6" bp="md">
          <input-search :handler="inp" :disabled="disabled">
            <t-input v-model="entity.name" :disabled="disabled" />
          </input-search>
        </t-labeled>

        <t-labeled label="Data" size="3" bp="md">
          <input-date
            v-model="entity.data"
            :disabled="disabled"
            placeholder="___/__/__"
          />
        </t-labeled>

        <t-labeled label="Salário" size="4" bp="md">
          <input-money v-model="entity.salario" :status="true" :disabled="disabled"/>
        </t-labeled>
      </t-row>
    </t-col>

    <t-labeled label="Salário não formatado" size="6" bp="md">
      <t-input type="number" v-model="entity.salario" :disabled="disabled"/>
    </t-labeled>

    <form-label>Apenas um para separação</form-label>

    <t-labeled label="Data" size="2" bp="md">
      <input-date v-model="entity.data" :disabled="disabled" />
    </t-labeled>

    <t-labeled label="Nome" size="4" bp="md">
      <input-search :handler="inp" :disabled="disabled">
        <t-input v-model="entity.name" :disabled="disabled" />
      </input-search>
    </t-labeled>
  </FormBasic>
</template>

<script>
export default {
  data() {
    return {
      money: {
        decimal: ',',
        thousands: '.',
        prefix: 'R$ ',
        precision: 2,
        masked: false
      }
    }
  },

  props: {
    entity: {},
    disabled: {}
  },

  methods: {
    inp() {
      alert('Foi no input...')
    }
  }
}
</script>

<style scoped lang="scss">
.imagem {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #ddd;
}
</style>
