<template>
  <FormBasic>
    <t-labeled label="Registro">
      <TInput v-model="entity.register" :disabled="disabled" />
    </t-labeled>

    <t-labeled label="Geral">
      <TInput v-model="entity.general" :disabled="disabled" />
    </t-labeled>
  </FormBasic>
</template>

<script>
export default {
  props: {
    entity: {},
    disabled: {}
  }
}
</script>

<style>
</style>
