<template>
  <li class="item" :class="classes" :style="mainColorUnread" :title="item.title">
    <div class="submenu">
      <span class="opt" @click.stop="notificationRemove(item.id)" title="Remover">
        <Icon name="trash-alt" width="20px" height="20px" />
      </span>
      <span class="opt" @click.stop="setRead(item)" title="Marcar como lida">
        <Icon name="book-open" width="20px" height="20px" />
      </span>
    </div>
    <h4 class="title">{{ item.title }}</h4>
    <p class="preview">{{ item.preview }}</p>
  </li>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  },

  methods: {
    setRead(item) {
      item.read = true
    }
  },

  computed: {
    classes() {
      return {
        unread: !this.item.read
      }
    },

    mainColorUnread() {
      return `
        color: ${this.provider().getMainColor}
      `
    }
  },

  inject: {
    notificationRemove: {
      type: Function
    },

    provider: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style scoped lang="scss">
.item {
  position: relative;
  display: block;
  height: 60px;
  padding: $padding-small $padding;
  background-color: #fff;
  color: $siasp-blue;

  .submenu {
    position: absolute;
    display: none;
    justify-content: flex-end;
    width: 100px;
    height: 24px;
    top: $padding-small;
    right: $padding;

    .opt {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 24px;
      width: 24px;
      margin-left: $margin-small/2;
      /* background-color: rgba(#c4c4c4, 0.3); */
      border-radius: 50%;
      user-select: none;
      cursor: default;
    }
  }

  .title {
    font-size: 0.9rem;
    margin: 0;
    margin-top: $margin-small;
    color: $siasp-dark;
  }

  .preview {
    display: inline-block;
    width: 100%;
    margin: 0;
    font-size: 11pt;
    color: $gray-7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
  }

  &:hover {
    background-color: rgba(#c4c4c4, 0.25);
    .options {
      display: flex !important;
    }
    .submenu {
      display: flex;
    }
  }

  &.unread::before {
    position: absolute;
    display: flex;
    content: '';
    width: 3px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: currentColor;
  }
}
</style>
