<template>
  <transition name="fade-id">
    <div class="notification-drop">
      <header class="header">
        <h5>Notificações</h5>
        <span class="submenu" @click="submenuDrop = !submenuDrop">
          <Icon name="ellipsis-h" />
          <ul v-show="submenuDrop">
            <li class="item">
              <span class="icon">
                <Icon name="comment-alt-verify" />
              </span> Marcar todas como lidas
            </li>
            <li class="item">
              <span class="icon">
                <Icon name="cog" />
              </span> Configurações de notificação
            </li>
          </ul>
        </span>
      </header>

      <div class="items">
        <NotificationList :items="items" />
      </div>
    </div>
  </transition>
</template>

<script>
// Mixins
import clickOutside from '@/mixins/click-outside'

import NotificationList from './NotificationList'

export default {
  name: 'NotificationDrop',

  mixins: [clickOutside],

  components: {
    NotificationList
  },

  props: {
    items: {
      type: Array,
      required: true
    }
  },

  data() {
    return {
      submenuDrop: false
    }
  },

  methods: {
    hide() {
      this.submenuDrop = false
    }
  }
}
</script>

<style scoped lang="scss">
@import '~@/scss/transitions/fade';

.notification-drop {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  top: 100%;
  right: 0;
  width: $notification-drop-width;
  height: $notification-drop-height;
  padding: $padding 0;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: $shadow-regular;
  z-index: 101;

  .header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: $notification-drop-header-height;
    padding: $padding-xlarge $padding;
    padding-top: $padding;
    user-select: none;

    > h5 {
      font-weight: normal;
    }

    .submenu {
      position: relative;
      margin-left: auto;
      z-index: 101;

      > ul {
        list-style: none;
        position: absolute;
        right: 0;
        top: 100%;
        width: $notification-submenu-width;
        background-color: #fff;
        box-shadow: $shadow-regular;
        user-select: none;

        .item {
          display: flex;
          align-items: center;
          height: 40px;
          padding: 0 $padding-small;
          font-size: 0.9rem;

          .icon {
            display: flex;
            width: 30px;
            height: 30px;
            font-size: 1.2rem;
            margin-right: $margin-small;
            > svg {
              margin: auto;
            }
          }

          &:hover {
            background-color: $gray-1;
          }
        }
      }
    }

    &::before {
      position: absolute;
      content: '';
      display: inline-block;
      background-color: rgba(#c4c4c4, 0.3);
      height: 1px;
      bottom: $margin-small;
      left: 45px;
      right: 45px;
    }
  }

  .items {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}
</style>
