<template>
  <ul class="notification-list">
    <Item v-for="(item, i) in items" :key="i" :item="item" />
  </ul>
</template>

<script>
import Item from './Item'

export default {
  components: {
    Item
  },

  props: {
    items: {
      type: Array,
      required: false
    }
  }
}
</script>

<style scoped lang="scss">
.notification-list {
  list-style: none;
  width: 100%;
  height: 100%;
}
</style>
