<template>
  <div
    class="buttom-header"
    :style="active"
    @click.stop="$emit('click', index)"
  >
    <div class="area-icon">
      <Icon :name="icon" />
    </div>

    <div class="area-label">
      {{ label }}
    </div>

  </div>
</template>

<script>
export default {
  name: 'ButtomHeader',

  props: {
    icon: {
      type: String
    },

    label: {
      type: String,
      required: true
    }
  },

  computed: {
    active() {
      return this.index === this.selected ? this.mainColorButtomHeader : ''
    },

    mainColorButtomHeader() {
      return `
        color: ${this.provider().getMainColor};
        box-shadow: 0px 2px 0px ${this.provider().getMainColor};
      `
    }
  },

  data() {
    return {
      index: 0,
      selected: 0
    }
  },

  inject: {
    provider: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style scoped lang="scss">
.buttom-header {
  width: calc((350px - 40px) / 4);
  height: calc(#{$menu-drop-header-height} - 1px);
  padding: 4px;
  color: $siasp-dark;
  z-index: 2;

  &:hover {
    background-color: $gray-1;
    cursor: pointer;
  }

  .area-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    font-size: 20pt;
  }

  .area-label {
    display: flex;
    flex-flow: column wrap;
    height: 50%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.25;
    overflow: hidden;
  }

  /* &.selected {
    color: $siasp-blue;
    box-shadow: 0px 2px 0px 0px $siasp-blue;
  } */
}
</style>
