<template>
  <div class="context-body" v-if="index === selected">
    <div class="query" v-if="!arrayButtons.length">
      <div class="notfound" v-if="queryText">
        <h6>
          Nenhum resuldado encontrado para:
          <br>
          <t-badge color="blue">{{ queryText }}</t-badge>
        </h6>
      </div>
      <div class="empty" v-else>
        <h6>Não há items nesta seção</h6>
      </div>
    </div>

    <div
      v-else
      class="buttom-body"
      v-for="button in arrayButtons"
      :key="button.label"
      @click.stop="provider().createScreen(button)"
    >
      <div class="area-label">
        <span class="label">{{ button.label }}</span>
      </div>

      <div class="area-icon-favorite">
        <Icon name="star" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContextBody',

  props: {
    arrayButtons: {
      type: Array,
      required: true
    },

    queryText: {
      type: String
    }
  },

  data() {
    return {
      index: 0,
      selected: 0
    }
  },

  inject: ['provider']
}
</script>

<style scoped lang="scss">
.context-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .query {
    width: 100%;
    height: 100%;

    .notfound,
    .empty {
      display: flex;
      width: 100%;
      height: 100%;

      > h6 {
        margin: auto;
        text-align: center;
      }
    }
  }

  .buttom-body {
    display: flex;
    align-items: center;
    padding: 0 $padding;
    min-height: 45px;

    &:hover {
      cursor: pointer;
      background-color: $gray-1;
    }

    .area-label {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .label {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.95rem;
        font-weight: 500;
      }
    }

    .area-icon-favorite {
      color: $siasp-dark;
    }
  }
}
</style>
