<template>
  <div class="main-menu">
    <span class="area-prev icon" v-show="false"></span>
    <span class="area-next icon" v-show="false"></span>

    <div class="area-header">
      <slot name="area-header" />
    </div>

    <div class="area-body">
      <slot name="area-body" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'MainMenu',

  props: {
    page: {
      type: Number,
      required: true
    }
  },

  watch: {
    page: {
      immediate: true,
      handler(value) {
        this.buttons.forEach(el => {
          el.selected = value
        })
        this.contexts.forEach(el => {
          el.selected = value
        })
      }
    }
  },

  data() {
    return {
      buttons: [],
      contexts: []
    }
  },

  mounted() {
    this.$slots['area-header'].forEach((el, index) => {
      el.child.index = index
      this.buttons.push(el.child)
    })

    this.$slots['area-body'].forEach((el, index) => {
      el.child.index = index
      this.contexts.push(el.child)
    })
  }
}
</script>

<style scoped lang="scss">
.main-menu {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 70px 1fr;

  .area-prev {
    grid-column: 1/2;
    grid-row: 1/2;
    &::before {
      content: '\27E8';
    }
  }

  .area-next {
    grid-column: 3/4;
    grid-row: 1/2;
    &::before {
      content: '\27E9' !important;
    }
  }

  .area-body {
    grid-column: 1/4;
    grid-row: 2/3;
    overflow: auto;
  }

  .area-header {
    grid-column: 2/3;
    grid-row: 1/2;
    border-bottom: 1px solid #dddddd;
    display: flex;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
</style>
