
<template>
  <transition name="fade-id">
    <div class="menu-drop" v-if="drop">

      <MainMenu :page="page">
        <template v-for="item in items">
          <ButtonHeader
            slot="area-header"
            :key="item.groupLabel"
            :label="item.groupLabel"
            :icon="item.icon"
            @click="index => page = index"
          />

          <ContextBody
            slot="area-body"
            :key="item.groupLabel"
            :arrayButtons="search(item.arrayButtons)"
            :queryText="queryText"
          />
        </template>
      </MainMenu>

    </div>
  </transition>
</template>

<script>
/* eslint-disable indent */

import MainMenu from './MainMenu'
import ButtonHeader from './ButtonHeader'
import ContextBody from './ContextBody'

export default {
  name: 'MenuDrop',

  components: {
    MainMenu,
    ButtonHeader,
    ContextBody
  },

  data() {
    return {
      page: 0
    }
  },

  props: {
    drop: {
      type: Boolean,
      default: false
    },

    queryText: {
      type: String,
      default: ''
    },

    items: {
      type: Array,
      default: () => []
    }
  },

  methods: {
    search(items) {
      return this.queryText
        ? items.filter(item =>
            item.label.toLowerCase().includes(this.queryText.toLowerCase())
          )
        : items
    }
  },

  watch: {
    drop: {
      immediate: true,
      handler(value) {
        if (!value) this.page = 0
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import '~@/scss/transitions/fade';

.menu-drop {
  position: absolute;
  top: 100%;
  width: 100%;
  height: $menu-drop-height;
  background-color: $menu-search-background-color;
  box-shadow: $shadow-regular;
  user-select: none;
  z-index: 101;
}
</style>
