// Fade to down

$initial-translate-x: -10px;

.fade-id-enter,
.fade-id-leave-to {
  opacity: 0;
  transform: translate3d(0, $initial-translate-x, 0);
}

.fade-id-enter-active,
.fade-id-leave-active {
  transition: all $fast-transition-time;
}

.fade-id-enter-to,
.fade-id-leave {
  transform: translate3d(0, 0, 0);
}
