<template>
  <div class="content">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'Content'
}
</script>

<style scoped lang="scss">
.content {
  grid-area: C;
  padding: $padding $padding-xlarge;
  width: 100%;
  max-height: 100%;
  background-color: $body-gray;
  overflow: auto;
}
</style>
