<template>
  <aside class="aside" :class="{ retract }">
    <div class="actions" v-show="view === 'actions'">
      <TButton
        class="mb-xl"
        block
        v-for="(action, i) in menu.actions"
        :key="i"
        :class="{ inactive: !isActionActive(action) }"
        @click="handlerAction(action)"
      >
        <t-spinner
          v-if="action.load && actionState === 2 && action.daisy"
          size="sm"
        />
        <template v-else>
          <Icon :name="action.icon" />
          {{ action.label }}
        </template>
      </TButton>
    </div>

    <div class="forms" v-show="view === 'forms'">
      <TButton
        v-for="(form, i) in menu.forms"
        :key="i"
        class="mb-lg button-form"
        :style="form.component === current ? mainColorFormSelect : mainColorButtomForm "
        block
        @click="handlerForm(form)"
        >{{ form.label }}</TButton
      >
    </div>

    <div class="container-bottom">
      <div class="operations" v-show="view === 'forms'">
        <TButton
          class="mr-md button-operation"
          color="red"
          inv
          block
          v-show="appear('cancel', C_S)"
          :disabled="actionState === 2 || !enableOps.cancel"
          @click="$bubble('action', true)"
        >
          Cancelar
        </TButton>

        <TButton
          class="ml-md button-operation"
          color="green"
          inv
          block
          v-show="appear('save', C_S)"
          @click="save"
          :loading="actionState === 2"
          :disabled="!enableOps.create"
        >
          Salvar
        </TButton>

        <TButton
          class="mr-md button-operation"
          color="orange"
          inv
          block
          v-show="appear('list', L_E)"
          @click="$bubble('action')"
          :disabled="!enableOps.list"
        >
          Listar
        </TButton>

        <TButton
          class="ml-md button-operation"
          color="blue"
          inv
          block
          v-show="appear('edit', L_E)"
          @click="edit"
          :disabled="!enableOps.update"
        >
          Editar
        </TButton>
      </div>

      <span class="retractor" @click.stop="retract = false">
        <Icon name="angle-left" />
      </span>

      <div class="button-hiden" @click.stop="retract = true">
        RETRAIR MENU
        <Icon name="angle-right" />
      </div>
    </div>
  </aside>
</template>

<script>
export default {
  name: 'Sidebar',

  data() {
    return {
      defineOperation: false, // Define qual operação será executada pelo botão Salvar
      defineButtons: true, // Escolhe qual o conjunto de botões mostrar
      retract: false
      // actionActivation: undefined
    }
  },

  props: {
    menu: {
      type: Object,
      default: () => ({
        actions: [],
        forms: [],
        config: {}
      })
    },

    view: {
      type: String,
      default: 'actions'
    },

    current: {
      type: String
    },

    operations: {
      type: Object,
      required: true
    },

    enableOps: {
      type: Object
    },

    actionState: {
      type: Number,
      required: true
    },

    actionActivation: {
      type: Boolean,
      default: undefined
    },

    setStateSidebar: {
      type: Function,
      required: true
    }
  },

  methods: {
    async handlerAction(action) {
      const exec = async () => {
        this.$emit('actionstate', 2)
        action.daisy = true // Cria campo temporariamente
        await action.handler()
        delete action.daisy // Remove o campo temporário
        this.$emit('actionstate', 1)
      }

      if (this.isActionActive(action) && !action.daisy) {
        if (action.confirm instanceof Array && action.confirm[0] === true) {
          this.$bubble('confirm', action.confirm[1], exec)
        } else if (action.load) {
          await exec()
        } else {
          action.handler()
        }
      }
    },

    handlerForm({ handler, component }) {
      if (handler && typeof handler === 'function') {
        handler()
      } else {
        this.$emit('changeform', component)
      }
    },

    async save() {
      let res = null

      if (this.operations.create || this.operations.update) {
        this.$emit('actionstate', 2)

        if (this.defineOperation === this.SAVE) {
          res = await this.operations.create()
        } else {
          res = await this.operations.update()
        }
      }

      if (res) {
        // if (res === 3) {
        // this.$bubble('alert', 'success')
        this.$bubble('disabled', true)
        this.defineOperation = this.EDIT
        this.defineButtons = this.L_E
      }
      // else {
      //   this.$bubble('alert', 'error')
      // }

      this.$emit('actionstate', 1)
    },

    edit() {
      this.defineButtons = this.C_S
      this.$bubble('disabled', false)
    },

    // setState(define, but tonToggle) {
    setState({ defineOperation, defineButtons }) {
      /* false (Salvar) true (Editar) */
      this.$set(this, 'defineOperation', defineOperation)

      /* false (L_E -> Listar Editar) true (C_S -> Cancelar Salvar) */
      this.$set(this, 'defineButtons', defineButtons)
    },

    // Define se um elemento do menu de ações deve ser habilitado
    isActionActive(action) {
      if (typeof action.active === 'boolean') {
        // Primeiro prioriza o próprio elemento
        return action.active
      } else if (
        this.menu.config &&
        typeof this.menu.config.actionActivation === 'boolean'
      ) {
        // Segundo a configuração presente em this.menu
        return this.menu.config.actionActivation
      } else if (typeof this.actionActivation === 'boolean') {
        // Terceiro se a pré-definição vinda de elemento externo (e. g. Screen)
        return this.actionActivation
      } else {
        // Quarto o valor padrão do Sidebar que é habilitado
        return false
      }
    },

    appear(title, type) {
      const { only } = this.operations

      if (only) {
        return title.toLowerCase() === only.toLowerCase()
      } else {
        return this.defineButtons === type
      }
    }
  },

  computed: {
    SAVE() {
      // Quando a ação é de salvamento
      return false
    },

    EDIT() {
      // Quando a ação é de edição
      return true
    },

    C_S() {
      // Quando os botões exibidos são Cancelar-Salvar
      return true
    },

    L_E() {
      // Quando os botões exibidos são Listar-Editar
      return false
    },

    mainColorButtomForm() {
      return `color: ${this.provider().getMainColor}`
    },

    mainColorFormSelect() {
      return `
        color: #fff;
        background-color: ${this.provider().getMainColor}
      `
    }
  },

  created() {
    this.setStateSidebar(this.setState)
  },

  inject: {
    addProvider: {
      type: Function,
      default: () => {}
    },

    provider: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style lang="scss">
.aside {
  grid-area: A;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: $aside-width;
  min-width: $aside-width;
  background-color: $aside-background-color;
  transition: $aside-transition;
  user-select: none;

  .actions {
    width: 100%;

    > button {
      border-radius: 0 !important;

      &.inactive {
        opacity: 0.7;
        cursor: default;
      }
    }
  }

  .forms {
    position: relative;
    width: 100%;
    padding: $padding;
    overflow: auto;

    .button-form {
      color: $siasp-blue;
      font-weight: 500;

      &:hover {
        background-color: $gray-3;
      }

      &.active {
        background-color: #fff;
        box-shadow: $shadow-small;
        color: $siasp-dark !important;
      }
    }
  }

  .operations {
    display: flex;
    padding: $padding;
    button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.9rem;
      > .loader-spin {
        height: 20px;
        width: 20px;
        min-width: 20px;
        border-width: 2px;
      }
    }
  }

  .retractor {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $aside-retractor-width;
    height: $aside-retractor-height;
    bottom: $aside-button-hiden-height;
    right: 0;
    transform: translateX(100%);
    border-radius: 25px 0 0 25px;
    background-color: #fff;
    box-shadow: $shadow-small;
    transition: $aside-transition;
    cursor: pointer;
  }

  .button-hiden {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $aside-button-hiden-height;
    color: $siasp-dark;
    font-size: 0.8rem;
    border-top: 1px solid $gray-3;
    cursor: pointer;
  }

  .container-bottom {
    width: 100%;
    margin-top: auto;
  }

  &.retract {
    margin-right: -$aside-width;

    .retractor {
      right: calc(100% - 25px);
      transform: translateX(0);

      &:hover {
        right: 100%;
      }

      &:not(:hover) {
        background-color: $gray-3;
      }
    }
  }
}
</style>
