<template>
  <Screen v-bind="{ listConfig, menu, operations}" v-model="entidade">
    <template slot="append">
      <t-modal title="Teste de componete" v-model="showModal">
        <h1>teste</h1>
        <t-button color="blue" @click="() => { showModal = false; $emit('form') } ">abrir form</t-button>
      </t-modal>
    </template>
    <template v-slot:form="forms">
      <component :is="forms.current" :disabled="forms.disabled" :entity="entidade" />
    </template>
  </Screen>
</template>

<script>
import entidades from './entidades'
import DadosPessoais1 from './forms/doc'
import DadosPessoais2 from './forms/reg'

export default {
  components: {
    DadosPessoais1,
    DadosPessoais2
  },

  data() {
    return {
      showModal: false,
      entidade: {},
      listConfig: {
        items: entidades,
        perPage: 10,
        onSelect: item => {
          console.log('onselect ->', item)
        },
        onDouble: item => {
          console.log('ondouble -> ', item)
        }
      },

      menu: {
        actions: [
          {
            label: 'Adicionar',
            icon: 'AD',
            handler: () => {
              this.showModal = true
              // this.$emit('form')
              // console.log('clicou em Adiiconar')
            }
          },
          {
            label: 'Editar',
            icon: 'ED',
            handler: () => {
              this.$emit('form', 'edit')
              // console.log('clicou em Editar')
            }
          },
          {
            label: 'Remover',
            icon: 'RM',
            handler: () => {
              console.log('clicou em Remover')
            }
          }
        ],
        forms: [
          {
            label: 'Dados Pessoais 1',
            component: 'DadosPessoais1'
          },
          {
            label: 'Dados Pessoais 2',
            component: 'DadosPessoais2'
          }
        ]
      },
      operations: {
        create: () => {
          alert('criou!!!')
          return 1
        },
        update: () => {
          alert('Atualizaou!!!')
          return 1
        }
      }
    }
  }
}
</script>
