<template>
  <Screen :def="false">
    <div class="test2">
      <t-button @click="show" color="blue">Abrir uma nova aba com parâmetros</t-button>
      <div class="bg-purple" v-if="$attrs.user">
        <h1 class="cl-orange">
          {{ $attrs.user.nome }}
          {{ $attrs.user.sobrenome }}
        </h1>
      </div>
    </div>
  </Screen>
</template>

<script>
export default {
  data() {
    return {
      obj: {
        name: 'Nome'
      }
    }
  },

  methods: {
    show() {
      this.provider().createScreen(
        {
          label: 'Teste 3',
          tab: 'Test3'
        },
        {
          props: {
            value: this.obj
          },

          attrs: {
            config: {
              parentRg: this.$attrs.rg
            }
          }
        }
      )
    }
  },

  inject: {
    provider: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style lang="scss" scoped>
.test2 {
  padding: $padding-xlarge;
}
</style>
