<template>
  <Screen :def="false">
    <div class="test2">
      <h1>Olá Mundo</h1>
      <h5><t-badge color="red">Olá</t-badge></h5>
    </div>
  </Screen>
</template>

<script>
export default {
  data() {
    return {
      data: {}
    }
  },

  inject: {
    provider: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style lang="scss" scoped>
.test2 {
  padding: $padding-xlarge;
}
</style>
