<template>
  <Screen v-bind="{ listConfig, menu, operations, messages }" v-model="test">
  <!-- <Screen v-bind="{ listConfig, menu, operations, enableOps, messages }" v-model="test"> -->
    <modal-list v-model="modal" :config="listConfig" slot="prepend" title="Título customizado">
      <t-button @click="modal = false">Fechar</t-button>
    </modal-list>

    <t-button @click="modal = true" slot="prepend">Abrir modal</t-button>
    <!-- <t-button @click="modal = true" slot="append">Abrir modal</t-button> -->
    <!-- <t-button
      color="primary"
      @click="message()"
      slot="prepend"
    >
      Mensagem
    </t-button> -->

    <!-- <t-button
      color="primary"
      @click="message('error')"
      slot="prepend"
    >
      Mensagem
    </t-button> -->

    <!-- <t-button @click="tab">Outra aba</t-button> -->

    <template v-slot:form="f">
      <component :is="f.current" :disabled="f.disabled" :entity="test" />
    </template>
  </Screen>
</template>

<script>
import Doc from './Forms/doc'
import Reg from './Forms/reg'

export default {
  components: {
    Doc,
    Reg
  },
  data() {
    return {
      test: {
        address: {},
        name: 'Fulano',
        salario: 190.87,
        mascara: '',
        data: new Date().toLocaleDateString()
      },

      modal: false,

      listConfig: {
        // loading: true,

        empty: {
          message: 'Nenhum teste foi encontrado',
          label: 'Cadatrar novo teste',
          handler: () => this.$emit('form')
        },

        items: Array(100)
          .fill({})
          .map((item, i) => ({ nome: `Nome ${i}` })),
        // items: [],

        perPage: 10,

        onSelect: item => {
          for (const key of Object.keys(item)) {
            this.$set(this.test, key, item[key])
          }
        },

        onDouble: item => {
          this.$emit('form', 'see')
          // this.$emit(
          //   'createscreen',
          //   {
          //     label: `Screen ${Math.floor(Math.random() * 100)}`,
          //     tab: 'Test'
          //   },
          //   {
          //     attrs: {
          //       test: true
          //     }
          //   }
          // )
        },

        options: [
          {
            icon: 'plus',
            handler: () => alert('Foi...'),
            active: true
          },
          {
            icon: 'edit',
            handler: () => alert('Foi 2...'),
            active: false
          },
          {
            icon: 'trash-alt',
            handler: () => alert('Foi 3...')
            // active: true
          }
        ]
      },

      menu: {
        // config: {
        //   actionActivation: false
        // },

        actions: [
          {
            label: 'Adicionar',
            icon: 'plus',
            handler: () => {
              this.test.name = 'Fulano'
              this.$emit('form', 'keep')
            },
            active: true
          },
          {
            label: 'Editar',
            icon: 'pen',
            handler: () => {
              this.test = {
                name: 'John',
                lastname: 'Doe'
              }

              this.$emit('form', 'edit')
            }
          },
          {
            label: 'Remover',
            icon: 'trash-alt',
            load: true,
            handler: async () => {
              async function stall(stallTime = 3000) {
                await new Promise(resolve => setTimeout(resolve, stallTime))
              }
              await stall(3000)
              // const res = 3
              const temp = [...this.listConfig.items]
              temp.shift()
              this.$set(this.listConfig, 'items', temp)
              // this.$emit('alert', res === 3 ? 'success' : 'error', 'remove')
              this.$emit('message', ['success', 'Alguma coisa', 5])
              this.$emit('clear', 'entity')
              // return res
            },
            confirm: [true, 'onde isso modifica']
          }
        ],

        forms: [
          {
            label: 'Documentação',
            component: 'Doc'
          },
          {
            label: 'Registro',
            component: 'Reg'
          }
        ]
      },

      operations: {
        // only: 'list',
        // only: 'save',
        // only: 'edit',

        create: async () => {
          alert('criar')
          async function stall(stallTime = 3000) {
            await new Promise(resolve => setTimeout(resolve, stallTime))
          }

          await stall(2000)

          const res = 3

          if (res) {
            this.$emit('message', ['success', 'Funcionou', 7])
          } else {
            this.$emit('message', ['error', 'Falhou', 7])
          }

          return true
        },

        update: async () => {
          alert('atualiza')
          async function stall(stallTime = 3000) {
            await new Promise(resolve => setTimeout(resolve, stallTime))
          }

          await stall(2000)

          const res = false

          if (res) {
            this.$emit('message', ['success', 'Funcionou', 7])
          } else {
            this.$emit('message', ['error', 'Falhou', 7])
          }

          return res
        }
      },

      // enableOps: {
      //   create: true,
      //   update: true,
      //   cancel: true,
      //   list: true
      // },

      messages: {
        save: {
          success: 'Test salvo com sucesso porra!',
          error: 'Não funciona essa kcta'
        },
        remove: {
          success: 'Test removido com sucesso porra!',
          error:
            'Não foi possível excluir a droga do seu nome do banco de dados, seu merda'
        }
      }
    }
  },

  methods: {
    setMessage(category, state, value) {
      this.messages[category][state] = value
    },

    message() {
      const type = ['success', 'error', 'info', 'warn'][
        Math.floor(Math.random() * 5)
      ]

      this.$emit('message', [type || 'info', 'Apenas um teste', 5])
    }
  },

  inject: {
    provider: {}
  }
}
</script>

<style></style>
