<template>
  <fragment v-if="value">
    <t-alert float :color="defineColor" :timing="timing" v-model="show">
      {{ defineMessage }}
    </t-alert>
  </fragment>
</template>

<script>
export default {
  data() {
    return {
      show: this.value
    }
  },

  props: {
    value: {
      // v-model
    },

    timing: {
      type: Number,
      default: 5000
    },

    message: {
      type: Object,
      default: () => {
        return {
          success: 'Sucesso',
          error: 'Falha'
        }
      }
    },

    type: {
      type: String
    }
  },

  computed: {
    defineColor() {
      return this.type === 'success' ? 'green' : 'red'
    },

    defineMessage() {
      return this.type === 'success' ? this.message.success : this.message.error
    }
  },

  watch: {
    value(value) {
      this.show = value
    },

    show(value) {
      this.$emit('input', value)
    }
  }
}
</script>

<style></style>
