<template>
  <div class="area-nav">
    <slot />
  </div>
</template>

<script>
export default {}
</script>

<style scoped lang="scss">
.area-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  height: 100%;
  margin-left: auto;
  padding-right: $padding;
}
</style>
