<template>
  <div class="avatar">
    <Icon name="camera" v-if="!value" width="50px" height="50px" />

    <img class="img-preview" v-else ref="imgPreview" :src="value" />

    <label class="label-img" :for="$attrs.id" v-if="!disabled">
      Selecionar foto
      <input
        class="input-img"
        type="file"
        :id="$attrs.id"
        accept="image/png, image/jpg"
        @change="getImage"
      />
    </label>
  </div>
</template>

<script>
export default {
  inheritAttrs: false,

  data() {
    return {
      img: ''
    }
  },

  props: {
    value: {
      // v-model
    },

    disabled: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    getImage({ target }) {
      if (target.files && target.files.length) {
        const reader = new FileReader()

        reader.onload = event => {
          // this.$refs.imgPreview.setAttribute('src', event.target.result)
          // this.img = event.target.result
          this.$emit('input', event.target.result)
        }

        reader.readAsDataURL(target.files[0])
      }
    }
  }
}
</script>

<style scoped lang="scss">
.avatar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 190px;
  height: 230px;
  margin: auto;
  color: $gray-7;
  border: 1px solid $gray-4;
  border-radius: 0.25rem;
  background-color: #fff;
  overflow: hidden;

  .unicon {
    margin: auto;
  }

  .img-preview {
    max-width: 100%;
    height: auto;
    max-height: 188px;
    margin: auto;
  }

  .label-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    min-height: 40px;
    border-top: 1px solid $gray-4;
    background-color: #fff;
    transition: all 0.3s linear;
    cursor: pointer;
    z-index: 1;
  }

  .input-img {
    display: none;
  }
}
</style>
