<template>
  <div>
    <Messages v-model="messages" />
    <slot />
  </div>
</template>

<script>
export default {
  data() {
    return {
      addTab: undefined,
      providers: {},

      messages: [] // Lista de mensagens sendo exibidas
    }
  },

  props: {
    mainColor: {
      type: String,
      default: '#4795fd'
    },

    secondColor: {
      type: String,
      default: '#343a40'
    }
  },

  methods: {
    // Adiciona um metodo de outro componente de forma global
    addProvider(name, value) {
      this.$set(this.providers, name, value)
    },

    // Retorna os métodos globais
    provider() {
      return {
        ...this.providers
      }
    },

    // Adiciona uma mensagem na lista de mensagens
    toMessage(params) {
      const [type, message, time] = params

      const msn = {
        id: 'm' + Date.now(),
        type,
        message,
        time
      }

      this.$set(this, 'messages', [msn, ...this.messages])
      // this.$set(this, 'messages', [msn, ...this.messages])
    }
  },

  computed: {
    // Retorna a cor global para o sistema
    getMainColor() {
      return this.mainColor
    },

    // Retorna a cor secundária
    getSecondColor() {
      return this.secondColor
    }
  },

  provide() {
    return {
      addProvider: this.addProvider,
      provider: this.provider
    }
  },

  created() {
    this.addProvider('getMainColor', this.getMainColor)
    this.addProvider('getSecondColor', this.getSecondColor)

    // Vinculação de listeners
    this.$on('messages', this.toMessage)
  }
}
</script>

<style lang="scss">
::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: #dad7d7;
  /* border-radius: 3px; */
}

.form-base:not([disabled]) {
  border-radius: 0.25rem !important;

  &:focus {
    box-shadow: 0 0 0 1px #5e72e4, 0 0 4px rgba(94, 114, 228, 0.25) !important;
  }

  &.success {
    box-shadow: 0 0 0 1px #49e36b;
  }

  &.success:focus {
    box-shadow: 0 0 0 1px #49e36b, 0 0 4px rgba(73, 227, 107, 0.25) !important;
  }

  &.error {
    box-shadow: 0 0 0 1px #ff3155;
  }

  &.error:focus {
    box-shadow: 0 0 0 1px #ff3155, 0 0 4px rgba(255, 49, 85, 0.25) !important;
  }
}

.form-base[disabled] {
  &.success {
    box-shadow: 0 0 0 1px #49e36b;
  }

  &.error {
    box-shadow: 0 0 0 1px #ff3155;
  }
}

.button,
.alert,
.modal-content {
  border-radius: 0.25rem !important;
}

.table {
  > thead > tr {
    th {
      background-color: $aside-background-color !important;
      &:first-child {
        border-top-left-radius: $list-border-radius;
      }

      &:last-child {
        border-top-right-radius: $list-border-radius;
      }
    }
  }
}
</style>
