<template>
  <t-col size="12" bp="md" class="mt-md">
    <h5 class="form-label" :style="style">
      <slot />
    </h5>
  </t-col>
</template>

<script>
export default {
  name: 'FormLabel',

  data() {
    return {}
  },

  inject: {
    provider: {
      type: Function,
      default: () => {}
    }
  },

  computed: {
    style() {
      return {
        color: this.provider().getMainColor
      }
    }
  }
}
</script>

<style lang="scss">
.form-label {
  font-weight: normal;
}
</style>
