<template>
  <div class="guide">
    <vue-tabs-chrome theme="custom" ref="guide" v-model="tab" :tabs="tabs" @remove="remove" />
  </div>
</template>

<script>
export default {
  name: 'Guide',

  data() {
    return {
      guide: null,
      tab: undefined
    }
  },

  props: {
    value: {
      // TODO
    },

    initial: {
      type: String,
      required: true
    },

    tabs: {
      type: Array,
      default: () => []
    },

    remove: {
      type: Function
    }
  },

  methods: {
    setTab(key) {
      this.tab = key
    },

    addTab(label, key, closable = true) {
      const tab = {
        label,
        key,
        closable
      }

      this.guide.addTab(tab)
      this.setTab(key)
      this.inputTab(key)
    },

    removeTab(key) {
      this.guide.removeTab(key)
    },

    inputTab(key) {
      this.$emit('input', key)
    },

    swap(key, keyTarget) {
      console.log(key, keyTarget)
    }
  },

  watch: {
    tab(value) {
      this.inputTab(value)
    }
  },

  created() {
    this.tab = this.initial

    // Adicionando métodos globais
    this.addProvider('setTab', this.setTab)
    this.addProvider('addTab', this.addTab)
    this.addProvider('removeTab', this.removeTab)
  },

  mounted() {
    this.guide = this.$refs.guide
  },

  inject: {
    addProvider: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style lang="scss">
.guide {
  display: block;
  width: 100%;
}

.vue-tabs-chrome.theme-custom {
  padding-top: 0;
  z-index: 2;

  .tabs-footer,
  .tabs-divider,
  .tabs-background-before,
  .tabs-background-after {
    display: none;
  }

  .tabs-background-content {
    border-radius: 0;
  }

  .tabs-content {
    height: 40px;
  }

  .tabs-item {
    &.active {
      .tabs-background-content {
        background-color: $body-gray;
      }
      svg {
        fill: $body-gray !important;
      }
    }
  }
}
</style>
