<template>
  <unicon v-bind="{ name, fill, iconStyle, width, height }" />
</template>

<script>
import Unicon from 'vue-unicons'
import { camelize } from 'underscore.string'

export default {
  name: 'Icon',

  props: {
    name: {
      type: String,
      required: true
    },

    fill: {
      type: String,
      default: 'currentColor'
    },

    iconStyle: {
      type: String,
      default: 'line'
    },

    width: {
      type: String,
      default: '24px'
    },

    height: {
      type: String,
      default: '24px'
    }
  },

  created() {
    const iconTitle = camelize(`uni-${this.name}`)
    const icon = require('vue-unicons/src/icons')[iconTitle]

    if (!icon) {
      return
    }

    Unicon.add(icon)
  }
}
</script>

<style lang="scss">
.unicon {
  display: flex !important;
  > svg {
    margin: auto !important;
  }
}
</style>
