<template>
  <t-input
    class="input-date"
    ref="date"
    v-model="date"
    :placeholder="placeholder"
    v-on="$listeners"
    v-bind="$attrs"
  />
</template>

<script>
import Flatpickr from 'flatpickr'
import { Portuguese } from 'flatpickr/dist/l10n/pt'

export default {
  name: 'InputDate',

  data() {
    return {
      fp: null,
      date: null
    }
  },

  props: {
    value: {
      // v-model
    },

    options: {
      type: Object,
      default: () => ({})
    },

    placeholder: {
      type: String,
      default: '__/__/____'
    }
  },

  watch: {
    date(value) {
      this.$emit('input', value)
    },

    value: {
      immediate: true,
      handler(value) {
        if (this.fp && this.fp.setDate) {
          this.fp.setDate(value)
        }

        this.$set(this, 'date', value)
      }
    }
  },

  mounted() {
    this.fp = new Flatpickr(this.$refs.date.$el, {
      ...this.options,
      shorthandCurrentMonth: false,
      locale: Portuguese
    })
  }
}
</script>

<style lang="scss">
.input-date {
  background: url(../assets/images/calendar.svg) no-repeat;
  background-color: #fff;
  background-size: 25px;
  background-position: calc(100% - 10px) center;
}

.flatpickr-calendar {
  box-shadow: $shadow-regular !important;
  font-family: 'Open Sans', 'Roboto', sans-serif !important;

  .flatpickr-month {
    .flatpickr-monthDropdown-months,
    .cur-year {
      font-weight: normal;
    }

    .flatpickr-monthDropdown-months,
    .numInputWrapper {
      &:hover {
        background-color: initial;
      }
    }
  }

  .flatpickr-day.selected {
    font-weight: bold !important;
    background-color: $siasp-blue;
    border-color: $siasp-blue;
  }
}
</style>
