<template>
  <div class="input-search">
    <slot />
    <t-button @click.prevent="handler" :disabled="disabled">
      <Icon name="search" />
    </t-button>
  </div>
</template>

<script>
export default {
  name: 'InputSearch',

  inheritAttrs: false,

  props: {
    disabled: {
      type: Boolean,
      default: false
    },

    handler: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style lang="scss">
.input-search {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;

  .form-base {
    flex: 1;
    vertical-align: middle;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    z-index: 1;
  }

  .button {
    width: 40px;
    margin-left: -1px;
    padding-left: 0;
    padding-right: 0;
    color: $gray-7;
    border: 1px solid $gray-4;
    border-radius: 0.25rem;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    background-color: #fff;

    &:hover {
      background-color: $gray-1;
    }

    &:disabled {
      background-color: transparent;
      border-color: transparent;
    }
  }
}
</style>
