<template>
  <money
    v-model="model"
    v-bind="{ ...internalOptions, ...options }"
    :disabled="disabled"
    class="form-base"
    :class="[setStatus, setSize]"
  />
</template>

<script>
export default {
  name: 'InputMoney',

  inheritAttrs: false,

  data() {
    return {
      model: undefined,
      /** Opções internas */
      internalOptions: {
        decimal: ',',
        thousands: '.',
        prefix: 'R$ ',
        suffix: '',
        precision: 2,
        masked: false
      }
    }
  },

  props: {
    value: {
      // v-model
    },

    options: {
      type: Object,
      default: () => ({})
    },

    disabled: {
      type: Boolean,
      default: false
    },

    status: {
      type: [Boolean, null],
      default: null
    },

    size: {
      type: String,
      required: false,
      validator(value) {
        return ['sm', 'lg'].includes(value)
      }
    }
  },

  computed: {
    setStatus() {
      if (this.disabled) {
        return ''
      }

      if (typeof this.status === 'boolean') {
        return this.status ? 'success' : 'error'
      }

      return ''
    },

    setSize() {
      return `form-${this.size}`
    }
  },

  watch: {
    value: {
      immediate: true,
      handler(value) {
        this.model = value
      }
    },

    model(value) {
      this.$emit('input', value)
    }
  }
}
</script>
