<template>
  <div class="wrap">
    <div v-if="loading" class="loading">
      <div class="spin">
        <t-spinner />
      </div>
    </div>

    <div class="list" v-else-if="visible">
      <div class="search">
        <t-input v-model="search" placeholder="Buscar por campos da lista" />

        <div class="search-options" v-if="isOptions">
          <t-button
            v-for="(option, i) in listConfig.options"
            :key="i"
            @click="option.handler"
            :disabled="typeof option.active === 'boolean' && !option.active"
          >
            <Icon :name="option.icon" />
          </t-button>
        </div>
      </div>

      <template v-if="itemsCopy.length">
        <div class="table-list">
          <t-table
            v-bind="listConfig"
            :items="itemsCopy"
            :page="page"
            :perPage="perPage"
            selectable
            size="sm"
            sticky-header
          />
        </div>

        <div class="lines">
          <label for="lines">
            <Icon name="list-ul" />
          </label>
          <t-select
            id="lines"
            :options="lineOptions"
            v-model.number="perPage"
            size="sm"
          />
        </div>

        <div class="pagination">
          <t-pagination
            v-model="page"
            :total="listConfig.items.length"
            :perPage="perPage"
            size="sm"
          />
        </div>
      </template>

      <div class="table-list" v-else>
        <div class="list-notfound">
          <h3>
            Nenhum resultado encontrado para:
            <br>
            <t-badge color="blue">{{ search }}</t-badge>
          </h3>
        </div>
      </div>
    </div>
    <div class="list-empty" v-else>
      <h3>{{ emptyMessage }}</h3>
      <t-button :title="emptyLabel" @click="emptyHandler">
        <icon name="plus" />
      </t-button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: '',
      page: 1,
      perPage: 10,
      lineOptions: [
        {
          text: '10',
          value: 10
        },
        {
          text: '15',
          value: 15
        },
        {
          text: '20',
          value: 20
        },
        {
          text: '25',
          value: 25
        }
      ],
      itemsCopy: []
    }
  },

  props: {
    listConfig: {
      type: Object,
      default: () => ({})
    },

    loading: {
      type: Boolean,
      default: false,
      validator(value) {
        return typeof value === 'boolean'
      }
    }
  },

  methods: {
    isThere(value, item) {
      let is = false

      for (const val of Object.values(item)) {
        try {
          is = val.toLowerCase().includes(value.toLowerCase())
          if (is) {
            break
          }
        } catch {
          continue
        }
      }
      return is
    },

    optionHandler(callback) {
      if (callback && typeof callback === 'function') {
        callback()
      }
    },

    emptyHandler() {
      if (
        this.listConfig.empty &&
        typeof this.listConfig.empty.handler === 'function'
      ) {
        this.listConfig.empty.handler()
      } else {
        this.$bubble('form')
      }
    }
  },

  computed: {
    visible() {
      return (
        Object.keys(this.listConfig).length &&
        this.listConfig.items &&
        this.listConfig.items.length
      )
    },

    isOptions() {
      return this.listConfig.options && this.listConfig.options.length
    },

    emptyLabel() {
      return this.listConfig.empty &&
        typeof this.listConfig.empty.label === 'string'
        ? this.listConfig.empty.label
        : 'Cadastrar nova entidade'
    },

    emptyMessage() {
      return this.listConfig.empty &&
        typeof this.listConfig.empty.message === 'string'
        ? this.listConfig.empty.message
        : 'Nenhuma entidade cadastrada'
    }
  },

  watch: {
    listConfig: {
      deep: true,
      handler(value) {
        this.itemsCopy = value.items
      }
    },

    search(value) {
      this.itemsCopy = this.listConfig.items.filter(item =>
        this.isThere(value, item)
      )
    }
  },

  created() {
    if (this.listConfig) {
      this.itemsCopy = this.listConfig.items
      this.perPage = this.listConfig.perPage || 10
    }
  }
}
</script>

<style lang="scss">
.wrap {
  width: 100%;
  height: 100%;
}

.loading {
  display: flex;
  width: 100%;
  height: 100%;

  .spin {
    margin: auto;
  }
}

.list {
  /* position: relative; */
  display: grid;
  grid-template-columns: #{$list-options-width - 60px} 1fr $list-options-width;
  grid-template-rows: $list-search-height 1fr $list-pagination-height;
  grid-template-areas: 'S S S' 'T T T' 'L P P';
  width: 100%;
  height: 100%;

  .search {
    grid-area: S;
    display: flex;
    align-items: center;
    > input {
      border-radius: 20px !important;
      padding: 0 1rem;
      background: url(../assets/images/search.svg) no-repeat;
      background-size: 25px;
      background-position: calc(100% - 10px) center;
    }
  }

  .search-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    > button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      color: $siasp-dark;
      margin-left: $margin;
      background-color: #fff;
      border-radius: 50% !important;
      box-shadow: $shadow-small;
    }
  }

  .table-list {
    grid-area: T;
    padding: $padding-small 0;
    overflow: hidden;

    > .list-notfound {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      > img {
        width: 500px;
      }

      > h3 {
        text-align: center;
      }
    }
  }

  .lines {
    grid-area: L;
    display: flex;
    align-items: center;
    > label {
      display: inline-block;
      margin-right: $margin-small;
    }
  }

  .pagination {
    grid-area: P;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.list-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  button {
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    box-shadow: $shadow-small;
  }
}
</style>
