<template>
  <div class="menu" v-click-outside="hide" :style="mainColor">
    <span class="icon">
      <Icon name="bars" width="20px" height="20px" />
    </span>

    <input class="search" type="text" @click.stop="drop = true" v-model="queryText" />

    <span class="icon" @click.stop="drop = !drop">
      <Icon name="search" width="20px" height="20px" />
    </span>

    <MenuDrop v-bind="{ drop, queryText, items }" />
  </div>
</template>

<script>
// Mixins
import clickOutside from '@/mixins/click-outside'

import MenuDrop from './Menu/MenuDrop'

export default {
  components: {
    MenuDrop
  },

  mixins: [clickOutside],

  data() {
    return {
      drop: false,
      queryText: ''
    }
  },

  props: {
    items: {
      type: Array,
      default: () => []
    }
  },

  computed: {
    mainColor() {
      return {
        backgroundColor: this.provider().getMainColor
      }
    }
  },

  inject: {
    provider: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style scoped lang="scss">
.menu {
  position: relative;
  display: flex;
  align-items: center;
  width: $menu-width;
  height: $menu-height;
  background-color: $siasp-blue;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $menu-icon-width;
    height: $menu-icon-height;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 0.9rem;
  }

  .search {
    flex: 1;
    height: $menu-search-height;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: #fff;
  }
}
</style>
