<template>
  <div class="menu-user" v-click-outside="hide">
    <span @click.stop="drop = !drop"></span>
    <MenuUserDrop v-show="drop" v-bind="{ items, user }" />
  </div>
</template>

<script>
// Mixins
import clickOutside from '@/mixins/click-outside'

import MenuUserDrop from './MenuUser/MenuUserDrop'

export default {
  components: {
    MenuUserDrop
  },

  mixins: [clickOutside],

  props: {
    items: {
      type: Array,
      default: () => []
    },

    user: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      drop: false
    }
  }
}
</script>

<style scoped lang="scss">
.menu-user {
  position: relative;
  display: flex;
  width: $menuuser-width;
  height: 100%;

  > span {
    width: 30px;
    height: 30px;
    margin: auto;
    border-radius: 50%;
    background-color: #fff;
  }
}
</style>
