<template>
  <div class="drop">
    <div class="rail">
      <span class="prev"></span>
      <ul class="drop-header">
        <li v-for="(item, i) in menuHeader" :key="i">
          <h6>{{ item.label }}</h6>
        </li>
      </ul>
      <span class="next"></span>
    </div>
    <ul class="drop-body">
      <li v-for="(item, i) in menuBody" :key="i">{{ item.label }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      menuHeader: [
        {
          label: 'Cabeçalho 01'
        },
        {
          label: 'Cabeçalho 02'
        },
        {
          label: 'Cabeçalho 03'
        },
        {
          label: 'Cabeçalho 04'
        }
      ],

      menuBody: [
        {
          label: 'Tarefa 01'
        },
        {
          label: 'Tarefa 02'
        },
        {
          label: 'Tarefa 03'
        },
        {
          label: 'Tarefa 04'
        }
      ]
    }
  }
}
</script>

<style scoped lang="scss">
.drop {
  position: absolute;
  top: 100%;
  width: 100%;
  height: $menu-drop-height;
  background-color: $menu-search-background-color;
  box-shadow: $shadow-regular;
  .rail {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: $margin;
    .prev,
    .next {
      position: absolute;
      width: $menu-drop-control-width;
      height: calc(100% + 3px);
      &:hover {
        background-color: #f2f2f2;
      }
    }
    .prev,
    .next {
      &::before {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        content: '\27E8';
      }
    }
    .next {
      right: 0;
      &::before {
        content: '\27E9' !important;
      }
    }
  }
  .drop-header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 $menu-drop-control-width;
    > li {
      display: inline-flex;
      width: $menu-drop-header-width;
      height: $menu-drop-header-height;
      cursor: pointer;
      > h6 {
        width: 100%;
        font-size: 0.65rem;
        margin-top: auto;
        /* margin-bottom: 0; */
        text-align: center;
      }
      &:hover {
        box-shadow: 0px 3px 0px 0px $siasp-blue;
      }
    }
  }
  .drop-body {
    > li {
      position: relative;
      display: flex;
      align-items: center;
      height: $menu-drop-body-height;
      margin-left: $margin;
      padding: 0 $padding;
      cursor: pointer;
      &:hover {
        color: $siasp-blue;
        box-shadow: -3px 0px 0px 0px $siasp-blue;
      }
    }
  }
}
</style>
