<template>
  <div class="messages">
    <div
      class="wrapper"
      v-for="alert in value"
      :key="alert.id"
    >
      <t-alert
        :color="alertColor(alert.type)"
        :timing="alertTiming(alert.time)"
        float
        v-model="controllers[alert.id]"
        @input="remove($event, alert.id)"
      >
        {{ alert.message }}
      </t-alert>
    </div>
  </div>
</template>

<script>
const mapColor = {
  success: 'green',
  error: 'red',
  info: 'cyan',
  warn: 'orange'
}

export default {
  name: 'Messages',

  data() {
    return {
      controllers: {}
    }
  },

  props: {
    value: {
      default: () => []
    }
  },

  methods: {
    alertColor(type) {
      return mapColor[type] || 'primary'
    },

    alertTiming(time) {
      return time * 1000 || 35000
    },

    remove(event, id) {
      if (event) {
        return
      }

      const newVal = this.value.filter(message => message.id !== id)
      delete this.controllers[id]

      this.$emit('input', newVal)
    }
  },

  watch: {
    value: {
      handler(value) {
        const val = value[0]

        if (val && !this.controllers[val.id]) {
          this.$set(this.controllers, val.id, true)
        }

        if (value.length > 9) {
          value.pop()
          delete this.controllers[value.id]
        }
      }
    }
  }
}
</script>

<style lang="scss">
.messages {
  position: absolute;
  display: block;
  width: 700px;
  max-height: calc(100vh - 65px);
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  .wrapper {
    display: block;
    min-height: 60px;
    margin-bottom: 10px;
  }
}
</style>
