<template>
  <TModal title="Deseja realizar esta operação?" v-model="showModal" size="md">
    {{ text }}
    <TButton color="blue" @click="exec(handler)" slot="footer">Sim</TButton>
    <TButton color="secondary" @click="showModal = false" slot="footer">Cancelar</TButton>
  </TModal>
</template>

<script>
export default {
  data() {
    return {
      showModal: false
    }
  },

  props: {
    value: {
      required: true
    },

    handler: {
      type: Function,
      required: true
    },

    text: {
      type: String,
      default: 'Tem certeza?'
    }
  },

  methods: {
    exec(callback) {
      callback()
      this.$emit('input', false)
    }
  },

  watch: {
    showModal(value) {
      this.$emit('input', value)
    },

    value: {
      immediate: true,
      handler(value) {
        this.showModal = value
      }
    }
  },

  inject: {
    provider: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style>
</style>
