<template>
  <t-modal title="Cancelar operação" v-model="showModal" size="md">
    Você deseja realmente realizar esta operação?
    <t-button color="blue" @click="exec(handler)" slot="footer">Sim</t-button>
    <t-button color="secondary" @click="showModal = false" slot="footer">Cancelar</t-button>
  </t-modal>
</template>

<script>
export default {
  data() {
    return {
      showModal: false
    }
  },

  props: {
    value: {
      required: true
    },

    handler: {
      type: Function,
      required: true
    },

    stateSidebar: {
      type: Function,
      required: true
    }
  },

  methods: {
    exec(callback) {
      callback()
      // this.provider().setStateSidebar({
      this.stateSidebar({
        defineOperation: false,
        defineButtons: true
      })
      this.$emit('input', false)
    }
  },

  watch: {
    showModal(value) {
      this.$emit('input', value)
    },

    value: {
      immediate: true,
      handler(value) {
        this.showModal = value
      }
    }
  },

  inject: {
    provider: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style>
</style>
