<template>
  <t-modal class="modal-entity" ref="modal" :title="title" size="lg" v-model="show">
    <List :listConfig="config" />
    <template slot="footer">
      <slot />
    </template>
  </t-modal>
</template>

<script>
export default {
  name: 'ModalList',

  data() {
    return {
      show: this.value
    }
  },

  props: {
    value: {
      // v-model
    },

    title: {
      type: String,
      default: 'Listagem'
    },

    config: {
      type: Object,
      required: true
    }
  },

  watch: {
    value(value) {
      this.show = value
    },

    show(value) {
      this.$emit('input', value)
    }
  }
}
</script>

<style lang="scss">
.modal-entity .modal-content {
  height: 90%;
  max-height: 700px;
  .list {
    grid-template-rows: 50px 1fr 50px !important;
  }
}
</style>
