<template>
  <nav class="navbar" ref="navbar">
    <Menu v-bind="{ items }" />
    <AreaNav>
      <slot name="area-nav" />
    </AreaNav>
  </nav>
</template>

<script>
import Menu from './Menu'
import AreaNav from './AreaNav'

export default {
  components: {
    Menu,
    AreaNav
  },

  props: {
    items: {
      type: Array,
      default: () => []
    }
  },

  inject: {
    provider: {
      default: () => {}
    }
  },

  mounted() {
    const navbar = this.$refs.navbar

    if (navbar) {
      navbar.style.backgroundColor = this.provider().getSecondColor
    }
  }
}
</script>

<style scoped lang="scss">
.navbar {
  display: flex;
  width: 100%;
  height: $navbar-height;
  min-height: $navbar-height;
  background-color: $navbar-background-color;
}
</style>
