<template>
  <div class="notification" v-click-outside="hide">
    <span @click.stop="drop = !drop">
      <Icon name="bell" />
    </span>
    <NotificationDrop v-show="drop" :items="items" />
  </div>
</template>

<script>
// Mixins
import clickOutside from '@/mixins/click-outside'

import NotificationDrop from './Notification/NotificationDrop'

export default {
  components: {
    NotificationDrop
  },

  mixins: [clickOutside],

  props: {
    items: {
      // Array de notificações iteráveis
      type: Array,
      default: () => []
    },

    remove: {
      // Função de remoção de notificação
      type: Function,
      required: false
    }
  },

  data() {
    return {
      drop: false
    }
  },

  provide() {
    return {
      notificationRemove: this.remove
    }
  }
}
</script>

<style scoped lang="scss">
.notification {
  position: relative;
  display: flex;
  width: $notification-width;
  height: 100%;
  > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: auto;
    color: #fff;
    border-radius: 50%;
  }
}
</style>
