<script>
export default {
  name: 'Port',

  data() {
    return {
      arrayScreens: [], // Telas que serão exibidas
      arrayTabs: [], // Abas que correspondem as páginas
      selected: 0 // Aba atualente selecionada
    }
  },

  props: {
    screens: {
      // Prop que espera um objeto com referências das telas
      type: Object,
      default: () => {}
    },
    initial: {
      // Prop que define a tela inicial (opcional)
      type: Array,
      default: () => []
    }
  },

  methods: {
    // Cria uma nova aba e imediatamente associa a tela corresponde
    createScreen({ label, tab, closable }, attrs = {}, children = []) {
      const rg = Date.now()

      const options = {
        attrs: {
          rg
        }
      }

      options.attrs = Object.assign(options.attrs, attrs.attrs)

      const screen = {
        ref: this.screens[tab],
        options,
        children
      }

      this.arrayScreens.push(screen)
      this.provider().addTab(label, rg, closable)
    },

    // Retorna para o provider do Core a aba atualmente selecionada
    getSelected() {
      return this.selected
    },

    // Fecha uma aba
    remove(tab, index) {
      this.$emit('close', tab.key)
    }
  },

  created() {
    this.addProvider('createScreen', this.createScreen)
    this.addProvider('getSelectedTab', this.getSelected)
  },

  mounted() {
    if (this.initial.length) {
      this.createScreen({
        label: this.initial[0],
        tab: this.initial[1],
        closable: this.initial[2]
      })
    }
  },

  render(h) {
    return (
      <div class="port">
        <Guide
          v-model={this.selected}
          initial={'home'}
          tabs={this.arrayTabs}
          remove={this.remove}
        />
        {this.arrayScreens.map(screen =>
          h(screen.ref, { ...screen.options }, [...screen.children])
        )}
      </div>
    )
  },

  inject: {
    provider: {
      type: Function,
      default: () => {}
    },
    addProvider: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style scoped lang="scss">
.port {
  height: 100%;
  width: 100%;
}
</style>
