<template>
  <section class="screen" v-show="parentAttrs.rg === provider().getSelectedTab()" v-if="show">
    <template v-if="def">
      <Content>

        <div class="alerts">
          <Alert v-model="alert" :type="typeAlert" :message="messages.save" />
          <Alert v-model="alertRemove" :type="typeAlertRemove" :message="messages.remove" />
        </div>

        <modal-confirm v-model="modalConfirm" :text="confirmText" :handler="confirmHandler" />

        <div class="workstation" v-if="view === 'actions'">
          <slot name="prepend" />
          <slot>
            <List v-bind="{ listConfig, loading: listConfig.loading}" />
          </slot>
          <slot name="append" />
        </div>

        <div v-else>
          <ModalCancel v-model="modalCancel" :handler="() => toAction(false)" v-bind="{ stateSidebar }" />
          <slot name="form" v-bind="{ current, disabled }" />
        </div>
        <!-- -->
      </Content>

      <Sidebar
        v-bind="{
          menu,
          view,
          current,
          operations,
          enableOps,
          actionState,
          actionActivation,
          setStateSidebar
        }"
        @changeform="changeForm"
        @actionstate="toActionState"
      />
    </template>

    <template v-else>
      <slot />
    </template>
  </section>
</template>

<script>
// Componentes
import Content from './Screen/Content'
import Sidebar from './Screen/Sidebar'
import ModalConfirm from './ModalConfirm'

// Mixin para configurações básica (ver ele para dúvidas)
import screenConfig from '@/mixins/screen-config'

export default {
  mixins: [screenConfig],

  components: {
    Content,
    Sidebar,
    ModalConfirm
  },

  data() {
    return {
      entityCopy: '', // Cópia da entidade (v-model)
      actionState: 1, // Estados de ações e operações de requisição
      // 1 ready; 2 waiting; 3 success; e 4 error

      view: 'actions', // Aponta para a tela atual (ação ou fomulário)
      current: '', // Aponta para o fomulário atual (caso exista)
      disabled: false, // Habilita ou desabilita os campos dos formulários
      stateSidebar: () => {},

      message: [],
      alert: false,
      alertRemove: false,
      typeAlert: '',
      typeAlertRemove: '',
      confirmText: '',
      confirmHandler: () => {},
      modalConfirm: false,
      modalCancel: false,
      externalConfig: {}
    }
  },

  props: {
    value: {
      // v-model
    },

    listConfig: {
      type: Object,
      default: () => ({})
    },

    menu: {
      type: Object,
      default: () => ({})
    },

    operations: {
      type: Object,
      default: () => ({})
    },

    enableOps: {
      type: Object,
      default: () => ({})
    },

    def: {
      type: Boolean,
      default: true
    },

    messages: {
      type: Object,
      default: () => ({
        save: {
          success: 'Salvo com sucesso',
          error: 'Falha ao salvar'
        },
        remove: {
          success: 'Removido com sucesso',
          error: 'Falha ao remover'
        }
      })
    }
  },

  created() {
    // Copia a entidade
    this.entityCopy = JSON.stringify(this.value)

    const P = this.$parent
    const Q = P.$parent

    if (P) {
      this.parentAttrs = { ...P.$attrs }

      if (this.parentAttrs.config) {
        this.externalConfig = this.parentAttrs.config
      }
    }

    if (Q) {
      Q.$on('close', this.close)
    }

    // Configura o primeiro formulário para a exibição para o modelo padrão
    if (this.def) {
      this.setCurrent()
    }

    // Vinculação de listeners
    P.$on('form', this.toForm)
    P.$on('action', this.toAction)
    P.$on('alert', this.toAlert)
    P.$on('message', param => {
      this.$bubble('messages', param)
    })
    P.$on('disabled', this.setDisabled)
    P.$on('createscreen', this.provider().createScreen)
    P.$on('clear', this.toClear)
    P.$on('confirm', this.toConfirm)

    // Prepara as opções de ativação (enable) das operations forma adequada
    const enables = ['create', 'update', 'list', 'cancel']

    enables.forEach(enable => {
      this.enableOps[enable] =
        typeof this.enableOps[enable] === 'boolean'
          ? this.enableOps[enable]
          : true
    })
  }
}
</script>

<style lang="scss">
.screen {
  display: flex;
  width: 100%;
  height: calc(100vh - #{$guide-height} - #{$navbar-height} - 6px);
  background-color: $body-gray;
  overflow: hidden;

  .workstation {
    height: 100%;
  }

  .alerts {
    display: flex;
    justify-content: center;
    .alert {
      width: $alert-width;
    }
  }
}
</style>
