@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

.form-base:disabled {
  opacity: 1;
  border-color: #dbdbdb;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 0;
  border-left-width: 2px;
  background-color: transparent;
  color: #343a40;
}
