<template>
  <fragment>
    <t-labeled label="Nome">
      <TInput v-model="entity.name" :disabled="disabled" />
    </t-labeled>
    <t-labeled label="Sobrenome">
      <TInput v-model="entity.lastname" :disabled="disabled" />
    </t-labeled>
  </fragment>
</template>

<script>
export default {
  props: {
    entity: {},
    disabled: {}
  }
}
</script>

<style>
</style>
