<template>
  <div id="app">
    <Core main-color="#336699" second-color="#003366">
      <Navbar :items="menuItems">
        <Notification :items="notificationList" slot="area-nav" />
        <MenuUser v-bind="{ user, items }" slot="area-nav" />
      </Navbar>
      <Port v-bind="{ screens }" :initial="['Home', 'Test', false]" />
    </Core>
  </div>
</template>

<script>
import menuItems from '@/views/inputs'
import Test from './views/Test'
import Test2 from './views/Test2'
import Test3 from './views/Test3'

export default {
  data() {
    return {
      menuItems,

      mainColor: '#4795FD',

      screens: {
        Test,
        Test2,
        Test3
      },

      tabs: [
        {
          label: 'google',
          key: 'google',
          closable: false
        },
        {
          label: 'facebook',
          key: 'facebook'
        }
      ],

      user: {
        name: 'Lucasius',
        handler: () => alert('Foi...')
      },

      items: [
        {
          label: 'Editar Perfil',
          icon: 'edit',
          handler: () => alert('Editar Perfil')
        },
        {
          label: 'Configurações e Privacidade',
          icon: 'cog',
          subitems: [
            {
              label: 'Configurações',
              icon: 'cog',
              handler: () => {}
            },
            {
              label: 'Segurança',
              icon: 'lock-alt',
              handler: () => {}
            },
            {
              label: 'Verificação de Privacidade',
              icon: 'eye',
              handler: () => alert('Verificaçao de privacidade')
            }
          ]
        },
        {
          label: 'Ajuda e Suporte',
          icon: 'question-circle',
          handler: () => {},
          subitems: [
            {
              label: 'Central de Ajuda',
              icon: 'question-circle',
              handler: () => {}
            },
            {
              label: 'Caixa de Entrada de Suporte',
              icon: 'icon',
              handler: () => {}
            },
            {
              label: 'Relatar um Problema',
              icon: 'icon',
              handler: () => {}
            }
          ]
        },
        {
          label: 'Sair',
          icon: 'sign-out-alt',
          handler: () => {}
        }
      ],

      notificationList: [
        // Apenas para simular um array
        {
          id: 1,
          title: 'Notificação 01',
          preview: 'Esse é o preview para para a Notificação 01',
          read: false
        },
        {
          id: 2,
          title: 'Notificação 02',
          preview: 'Esse é o preview para para a Notificação 02',
          read: false
        },
        {
          id: 3,
          title: 'Notificação 03',
          preview: 'Esse é o preview para para a Notificação 03',
          read: false
        },
        {
          id: 4,
          title: 'Notificação 04',
          preview: 'Esse é o preview para para a Notificação 04',
          read: false
        },
        {
          id: 5,
          title: 'Notificação 05',
          preview: 'Esse é o preview para para a Notificação 05',
          read: false
        },
        {
          id: 6,
          title: 'Notificação 06',
          preview: 'Esse é o preview para para a Notificação 06',
          read: false
        }
      ]
    }
  }
}
</script>

<style lang="scss">
.modal-open {
  padding: 0 !important;
}
</style>
