@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/open_sans/OpenSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/open_sans/OpenSans-SemiBold.ttf') format('ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/open_sans/OpenSans-Italic.ttf') format('ttf');
  font-style: italic, oblique;
}

@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/open_sans/OpenSans-Light.ttf') format('ttf');
  font-weight: lighter;
}

@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/open_sans/OpenSans-LightItalic.ttf') format('ttf');
  font-style: italic, oblique;
  font-weight: lighter;
}

@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/open_sans/OpenSans-SemiBoldItalic.ttf')
    format('ttf');
  font-weight: bold;
  font-style: italic, oblique;
}
