// CORES
$siasp-blue: #4795fd;
$siasp-dark: #343a40;
$body-gray: #fcfcfc;

$gray-1: #f0f0f0;
$gray-2: #e7e7e7;
$gray-3: #dbdbdb;
$gray-4: #cccccc;
$gray-7: #5c5c5c;

// MARGENS
$margin-small: 0.5rem;
$margin: 1rem;
$margin-large: 1.5rem;
$margin-xlarge: 2rem;

// ALCOCHOAMENTO
$padding-small: 0.5rem;
$padding: 1rem;
$padding-large: 1.5rem;
$padding-xlarge: 2rem;

// SOMBRAS
$shadow-thin: 0px 1px 3px 0px rgba(9, 30, 66, 0.2);
$shadow-small: 0 0 6px -1px rgba(#000, 0.15), 0 0 3px rgba(#000, 0.1),
  0 0 1px rgba(#000, 0.1);
$shadow-regular: 0 0 8px -2px rgba(#000, 0.15), 0 0 5px rgba(#000, 0.1),
  0 0 2px rgba(#000, 0.1);

// TRANSIÇÕES
$fast-transition-time: 0.4s;

// ::

// Navbar
$navbar-background-color: $siasp-dark;
$navbar-height: 45px;

// Menu e correlatos
$menu-width: 350px;
$menu-height: 100%;
$menu-icon-width: $navbar-height;
$menu-icon-height: $navbar-height;
$menu-drop-height: 450px;
$menu-search-height: 35px;
$menu-search-background-color: #fff;
$menu-drop-header-width: 70px;
$menu-drop-header-height: 70px;
$menu-drop-body-height: 40px;
$menu-drop-control-width: 20px;

// Areas e correlatos
$area-nav-width: 200px;

// Notification
$notification-width: $navbar-height;
$notification-drop-width: 300px;
$notification-drop-height: 400px;
$notification-drop-header-height: 50px;
$notification-submenu-width: 250px;

// Menu de usuário
$menuuser-width: $navbar-height;
$menuuser-drop-width: 300px;
$menuuser-drop-height: 400px;
$menuuser-drop-header-height: 80px;
$menuuser-submenu-width: 250px;
$menuuser-avatar-width: 55px;
$menuuser-avatar-height: 55px;

// GUIAS
$guide-height: 34px;
// $guide-background-color: #ddd;
$guide-background-color: #f3f3f3;

// TELAS
$aside-width: 250px;
$aside-background-color: #f3f3f3;

// Lista
$list-search-height: 50px;
$list-pagination-height: 50px;
$list-options-width: 180px;
$hell-size: $guide-height * 2 + $navbar-height + $list-search-height +
  $list-pagination-height;
$list-border-radius: 0.25rem;

// Aside
$aside-retractor-width: 50px;
$aside-retractor-height: 50px;
$aside-button-hiden-height: 50px;
$aside-transition: all $fast-transition-time linear;

// Alerta
$alert-width: 500px;
